<ion-view view-title="Contact Us">
    <ion-content>
        <div class="card">
            <div class="item item-divider"><h2>Location Information</h2></div>
            <div class="item item-body item-text-wrap">
            <h2><strong>Our Address</strong></h2>
                <p>121, Clear Water Bay Road<br>
Clear Water Bay, Kowloon<br>
HONG KONG</p>
                <span><i class="icon ion-iphone"></i> : +852 1234 5678</span><br>
                <span><i class="icon ion-printer"></i> : +852 1234 5678</span><br/>
                <span><i class="icon ion-email"></i> : confusion@food.net</span>
            </div>
            <div class="button-bar">
                <a class="button button-positive">Call</a>
                <a class="button button-calm">Skype</a>
                <a class="button button-balanced">Email</a>
            </div>
        </div>
    </ion-content>
</ion-view>